<li class="footer-section">
  <div id="wrap">
<div class="dots">
  <div class="ui container">
    <div id="ui_tall_stacked_segment" class="ui tall stacked segment">
      <h3 class="ui center aligned header">Connect with us:</h3>
      <a href="#"><i class="large facebook square icon"></i></a>
      <a href="#"><i class="large twitter sign icon"></i></a>
      <a href="#"><i class="large instagram icon"></i></a>
      <a href="#"><i class="large google plus sign icon"></i></a>
      <br>
      <br>
      <br>
      <br>
      <div class="footer-below">
    <small>Copyright <img src="/images/CopyrightSymbol.png"> Dr Jones 2017</small>
      </div>
    </div>

  </div>
    <div class="fade-top">

    </div>
</div>

</li>
