<li class="footer-section">
  <div id="wrap">
<div class="dots">
  <div class="ui container">
    <div class="ui tall stacked segment">
      <h3 class="ui center aligned header">Connect With Us</h3>
      <i class="facebook square icon"></i>
    </div>
  </div>
    <div class="fade-top">

    </div>
</div>

</li>
