<!DOCTYPE html>
<html>
<head>
	<title>Dental Health</title>
	<meta charset="utf-8" />

  <link rel="stylesheet" href="/css/semantic.min.css"/>
  <script src="/behaviour/js/jquery.min.js"></script>
  <script src="/behaviour/js/semantic.min.js"></script>

	<script type="text/javascript" src="/behaviour/js/auto_lancer.js"></script>
	<link rel="stylesheet" href="/css/clockWidget.css">
	<link rel="stylesheet" href="/css/style.css">



<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,700,300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
<link href="https://file.myfontastic.com/oAnRr49LRSuj7cYjEYP7b9/icons.css" rel="stylesheet">

</head>
<body>
<div class="container">
	<header class="slideRight">
		<!--	Add "slideRight" class to items that move right when viewing Nav Drawer  -->
		<ul id="navToggle" class="burger slideRight">
			<!--	Add "slideRight" class to items that move right when viewing Nav Drawer  -->
			<li></li>
			<li></li>
			<li></li>
		</ul>
		<h1><a href="/">

			<img class="logo" src="/images/oral_health-128.gif"/> Dr Jones</a></h1>
	</header>
	<nav class="slideLeft">
		<ul>
			<!-- <li><a href="/" class="active"><i class="dgicon-home"></i> Home</a></li> -->
			<li><a href="/services"><i class="dgicon-tools"></i> Services</a></li>
			<li><a href="#"><i class="dgicon-window"></i> Back to Portfolio</a></li>
			<li><a href="#"><i class="dgicon-users"></i> About</a></li>
			<li><a href="#"><i class="dgicon-vcard"></i> Contact Us</a></li>
		</ul>
	</nav>
</div>
<div class="content slideRight">
  <!--	Add "slideRight" class to items that move right when viewing Nav Drawer  -->
  <ul class="responsive">
    <li class="header-section">
      <img src="/images/logo.gif"/>
    </li>
    <li class="body-section">
			{{{body}}}
    </li>
    {{>footer}}
  </ul>
</div>
</body>
<script type="text/javascript" src="/behaviour/js/clock.js"></script>
</html>
