<html lang="en">
<head>
	<title>Dental Health</title>
	<script type="text/javascript" src="/behaviour/js/auto_lancer.js"></script>
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container">
	<header class="slideRight">
		<!--	Add "slideRight" class to items that move right when viewing Nav Drawer  -->
		<ul id="navToggle" class="burger slideRight">
			<!--	Add "slideRight" class to items that move right when viewing Nav Drawer  -->
			<li></li>
			<li></li>
			<li></li>
		</ul>
		<h1><a href="#">Dr Jones's dental health</a></h1>
	</header>
	<nav class="slideLeft">
		<ul>
			<li><a href="http://ibrahimjabbari.com" class="active"><i class="dgicon-home"></i> Home</a></li>
			<li><a href="#"><i class="dgicon-users"></i> About Us</a></li>
			<li><a href="#"><i class="dgicon-tools"></i> Services</a></li>
			<li><a href="#"><i class="dgicon-vcard"></i> Contact Us</a></li>
			<li><a href="#"><i class="dgicon-window"></i> Back to Article</a></li>
		</ul>
	</nav>
</div>
{{{body}}}
</body>
</html>
