<div class="ui three column doubling stackable grid container">
  <!-- <div class="container"> -->
    <div class="row">

      <div class="col-lg-6">

        <h2 class="contact-form-title">Testimonials</h2>
        <div class="testimonial">
          <p class="testimonial-text">"Thank you for the excellent dental care over the years. I've been a patient at your clinic for over 15 years now and couldn't be happier. Highly recommended dental clinic. Top notch. I've had multiple root canals performed at this clinic, and each one was painless and healed quickly."</p>
          <h4 class="testimonial-name">Tom Collins, Patient</h4>
        </div>

      </div>
      <h2 class="contact-form-title">Schedule Your Appointment</h2>
      <div class="ui one column stackable center aligned page grid">
        <div >
      <form class="" action="/appointment_schedule/addlogRec" method="POST">
        <div class="col-lg-8">

          <ul class="input-list style-1 clearfix">
            <!-- <li>
              <input type="text" placeholder="Specify process" name="subject" id="subject">
            </li> -->
            <li>
              <input type="text" placeholder="Please enter your name" name="userPartial" id="userPartial">
            </li>
            <li>
              <input type="text" placeholder="Enter your email" name="mailUserName" id="mailUserName">
            </li>
            <li>
              <textarea type="text" placeholder="Additional mail message " name="user_write_up" id="user_write_up" rows="5" cols="40"></textarea>
            </li>
            <li>
              <input type="text" placeholder="Please enter your Phone Number" name="clientContactNo" id="clientContactNo" maxlength="10">
            </li>
          </ul>
          <button type="submit" class="btn btn-lg btn-hero contact-button" >Submit</button>
        </div>

      </form>

    </div>
  </div>

</div>
</div>
