<div class="ui four column doubling stackable grid container">
  <!-- <div class="container"> -->
    <div class="row">

      <div class="col-lg-6">

        <h2 class="contact-form-title">Testimonials</h2>
        <div class="testimonial">
          <p class="testimonial-text">"Thank you for the excellent dental care over the years. I've been a patient at your clinic for over 15 years now and couldn't be happier. Highly recommended dental clinic. Top notch. I've had multiple root canals performed at this clinic, and each one was painless and healed quickly."</p>
          <h4 class="testimonial-name">Tom Collins, Patient</h4>
        </div>
        <div class="testimonial">
          <p class="testimonial-text">"Thank you for the excellent dental care over the years. I've been a patient at your clinic for over 15 years now and couldn't be happier. Highly recommended dental clinic. Top notch.</p>
          <h4 class="testimonial-name">Jill McDonald, Patient</h4>
        </div>

      </div>

      <div class="col-lg-6">
        <h2 class="contact-form-title">Schedule Your Appointment</h2>
        <ul class="input-list style-1 clearfix">
          <li>
            <input type="text" placeholder="Specify process">
          </li>
          <li>
            <input type="text" placeholder="Please enter your name">
          </li>
          <li>
            <input type="text" placeholder="Enter your email">
          </li>
          <li>
            <input type="text" placeholder="Enter your phone number">
          </li>
        </ul>
        <button type="button" class="btn btn-lg btn-hero contact-button">Submit</button>
      </div>

    </div>
  <!-- </div> -->

</div>
