<div class="content slideRight">
  <!--	Add "slideRight" class to items that move right when viewing Nav Drawer  -->
  <ul class="responsive">
    <li class="header-section">
      <img src="/images/logo.gif"/>
    </li>
    <li class="body-section">
      <p class="placefiller">Body</p>
    </li>
    <li class="footer-section">
      <p class="placefiller">Footer</p>
    </li>
  </ul>
</div>
