<!-- <img src="/images/services-model.jpg"/> -->
<div class="basic_cont">
<img src="/images/services-model.jpg" style='width:80%;border-radius: 0.5em; repeat:no-repeat; center' border="0" alt="Null" />
<!-- <img src="/images/services-model.jpg" style='width:100%;' border="0" alt="Null"/> -->
<div class="clock_holder">
  <div class="clock">
    <div>
      <div class="date"></div>
      <div class="day"></div>
    </div>
    <div class="dot"></div>
    <div>
      <div class="hour-hand"></div>
      <div class="minute-hand"></div>
      <div class="second-hand"></div>
    </div>
    <div>
      <span class="h3">3</span>
      <span class="h6">6</span>
      <span class="h9">9</span>
      <span class="h12">12</span>
    </div>
    <div class="diallines"></div>
  </div>
</div>

<div id="parallelogram">
  <div class="p_child">
    <p><strong>Life is short break the rules </strong><br>forgive quickly, kiss slowly <br><strong>love truly,</strong> lough uncontrollably <br>and never regret anything <br>that made you <strong>smile.</strong></p>
  </div>
</div>
</div>
