<div class="ui three column doubling stackable grid container">
  <!-- <div class="container"> -->
    <div class="row">

      <div class="col-lg-6">

        <h2 class="contact-form-title">Testimonials</h2>
        <div class="testimonial">
          <p class="testimonial-text">"Thank you for sending us mail ,we'll respond back to you within a short period of Time :-)"</p>
          <h4 class="testimonial-name">Tom Collins, Patient</h4>
        </div>
        </div>
        </div>
</div>
