<div class="row">

<div class="ui three column doubling stackable grid container">
    <!-- <div class="container"> -->
                <p id="sentMailResp"><img src="/images/66_y.png" alt="">"Thank you for sending us mail ,we'll respond back to you within a short period of Time "<img src="/images/66_y.png" alt=""></p>
                <img src="/images/thumbsup.png" alt="">
            </div>
        </div>
    </div>
</div>
