<!-- Services section -->

<div class="container services">

    <div class="row">
    <h2 class="ui header">Dental Services in Wellington midway Center</h2>
    <p>Regular dental visits are essential to ensure a healthy, beautiful mouth and smile. At our Huntington family dental office, your oral health is our paramount concern. From regular cleanings and exams to advanced restorative treatments, our team wants to become your one-stop shop for oral care.
</p>

        <div class="ui section divider"></div>
        <div class="ui two column doubling stackable grid container">
            <div class="column">

                <div class="icon-list-item">
                    <div class="icon-list-icon">
                        <span class="icon icon-toothbraces"></span>
                    </div>
                    <div class="icon-list-content">
                        <h3 class="icon-list-title">Orthodontics</h3>
                        <h2>Are your Teeth not the way think they should be in terms of their shape?</h2>
                        <h2>We offer an orthodontic placement services and its treatment</h2>
                        <div id="animated_butt" class="ui animated fade button" tabindex="0">
                            <div class="visible content">Make an appointment or consult</div>
                            <div class="hidden content">
                                call 021 8723 3233- optional
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="column">
                <div class="icon-list-item">

                    <div class="icon-list-icon">
                        <span class="icon icon-toothstop"></span>
                    </div>

                    <div class="icon-list-content">
                        <h3 class="icon-list-title">Tooth Extraction</h3>
                        <h5 class="icon-list-under">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod.</h5>
                        <div id="animated_butt" class="ui animated fade button" tabindex="0">
                            <div class="visible content">Make an appointment or consult</div>
                            <div class="hidden content">
                                call 021 8723 3233- optional
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

        <div class="ui two column doubling stackable grid container">
            <div class="column">
                <div class="icon-list-item">

                    <div class="icon-list-icon">
                        <span class="icon icon-toothimplant"></span>
                    </div>

                    <div class="icon-list-content">
                        <h3 class="icon-list-title">Oral Surgery</h3>
                        <h5 class="icon-list-under">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id.</h5>
                        <div id="animated_butt" class="ui animated fade button" tabindex="0">
                            <div class="visible content">Make an appointment or consult</div>
                            <div class="hidden content">
                                call 021 8723 3233- optional
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="column">
                <div class="icon-list-item">

                    <div class="icon-list-icon">
                        <span class="icon icon-toothcheck"></span>
                    </div>
                    <div class="icon-list-content">
                        <h3 class="icon-list-title">Dental Prevention</h3>
                        <h5 class="icon-list-under">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit.</h5>
                        <div id="animated_butt" class="ui animated fade button" tabindex="0">
                            <div class="visible content">Make an appointment or consult</div>
                            <div class="hidden content">
                                call 021 8723 3233- optional
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="ui two column doubling stackable grid container">
            <div class="column">
                <div class="icon-list-item">
                    <div class="icon-list-icon">
                        <span class="icon icon-toothsparkle"></span>
                    </div>

                    <div class="icon-list-content">
                        <h3 class="icon-list-title">Whitening Teeth</h3>
                        <h5 class="icon-list-under">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id.</h5>
                        <a href="/appointment_schedule">
                            <div id="animated_butt" class="ui animated fade button" tabindex="0">
                                <div class="visible content">Make an appointment or consult</div>
                                <div class="hidden content">
                                    call 021 8723 3233- optional
                                </div>
                            </div>
                        </a>
                    </div>

                </div>
            </div>
            <div class="column">
                <div class="icon-list-item">

                    <div class="icon-list-icon">
                        <span class="icon icon-toothcrack"></span>
                    </div>

                    <div class="icon-list-content">
                        <h3 class="icon-list-title">Emergency Care</h3>
                        <h5 class="icon-list-under">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.</h5>
                        <div id="animated_butt" class="ui animated fade button" tabindex="0">
                            <div class="visible content">Make an appointment or consult</div>
                            <div class="hidden content">
                                call 021 8723 3233- optional
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <div class="ui section divider"></div>
  </div>
</div>
