<!-- Services section -->

<div class="container services">

  <div class="row">

    <div class="col-lg-4">

      <div class="icon-list-item">

        <div class="icon-list-icon">
          <span class="icon icon-toothbraces"></span>
        </div>

        <div class="icon-list-content">
          <h3 class="icon-list-title">Orthodontics</h3>
          <h2 >Are your Teeth not the way think they should be in terms of their shape?</h2>
             <h2 >We offer an orthodontic placement services and its treatment</h2>
        </div>

      </div>

    </div>

    <div class="col-lg-4">

      <div class="icon-list-item">

        <div class="icon-list-icon">
          <span class="icon icon-toothstop"></span>
        </div>

        <div class="icon-list-content">
          <h3 class="icon-list-title">Tooth Extraction</h3>
          <h5 class="icon-list-under">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod.</h5>
        </div>

      </div>

    </div>

    <div class="col-lg-4">

      <div class="icon-list-item">

        <div class="icon-list-icon">
          <span class="icon icon-toothimplant"></span>
        </div>

        <div class="icon-list-content">
          <h3 class="icon-list-title">Oral Surgery</h3>
          <h5 class="icon-list-under">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id.</h5>
        </div>

      </div>

    </div>

  </div>

  <div class="row">

    <div class="col-lg-4">

      <div class="icon-list-item">

        <div class="icon-list-icon">
          <span class="icon icon-toothcheck"></span>
        </div>

        <div class="icon-list-content">
          <h3 class="icon-list-title">Dental Prevention</h3>
          <h5 class="icon-list-under">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit.</h5>
        </div>

      </div>

    </div>

    <div class="col-lg-4">

      <div class="icon-list-item">

        <div class="icon-list-icon">
          <span class="icon icon-toothsparkle"></span>
        </div>

        <div class="icon-list-content">
          <h3 class="icon-list-title">Whitening Teeth</h3>
          <h5 class="icon-list-under">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id.</h5>
        </div>

      </div>

    </div>

    <div class="col-lg-4">

      <div class="icon-list-item">

        <div class="icon-list-icon">
          <span class="icon icon-toothcrack"></span>
        </div>

        <div class="icon-list-content">
          <h3 class="icon-list-title">Emergency Care</h3>
          <h5 class="icon-list-under">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.</h5>
        </div>

      </div>

    </div>

  </div>

</div>

<!-- Services section End -->
<style media="screen">

.services {
    padding-top: 75px;
    padding-bottom: 120px;
}

.icon {
font-size: 40px;
}

.icon-list-icon {
  padding: 31px;
  border-radius: 22% 50% 22% 50%;
  border: 1px solid #e5e5e5;
  width: 100px;
  height: 100px;
  background: #f4f4f4;
  text-align: -webkit-auto;
  color: #37C8D8;
  transition: all .5s ease-in-out;
  display: inline-block;
  float: left;
}

.icon-list-icon > span {
display: inline-block;
}

.icon-list-icon:hover {
  background-color: #f3615d;
  color: white;
}

.icon-list-content {
    display: inline-block;
    padding-left: 20px;
    vertical-align: top;
    width: 66%;
    overflow: hidden;
}

.icon-list-item {
      padding-top: 80px;
      text-align: start;
      padding-left: 100px;
}

.icon-list-title {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 20px;
    margin-top: 10px;
    color: gray;
}

.icon-list-under {
    font-family: 'Lato', sans-serif;
    color: gray;
}


.hero-text {
    position: relative;
    top: 50%;
    transform: translateY(50%);
    border-left: 2px solid white;
}

.hero-title {
    font-family: 'Roboto Slab', sans-serif;
    color: white;
}

.hero-under-title {
    font-family: 'Lato', sans-serif;
    color: white;
}

.hero-container {
    background: url("http://dental-clinic.cmsmasters.net/wp-content/uploads/2015/10/bg-2.jpg") no-repeat center center;
    -webkit-background-size: cover;
    margin-top: 50px;
}

.hero-image {
  width: 100%;
}

.btn-hero {
    background: none;
    border: 2px solid white;
    color: white;
    font-family: 'Roboto Slab', sans-serif;
    transition: all .5s ease-in-out;
    margin: 25px 0px;
}

.btn-hero:hover {
    color: gray;
    background: white;
}

.contact-section {
    background: url("http://dental-clinic.cmsmasters.net/wp-content/uploads/2015/10/bg-2.jpg") no-repeat center center;
    -webkit-background-size: cover;
    padding-top: 50px;
    padding-bottom:50px;
}

.contact-form-title {
  color: #fff;
}

.input-list {
    list-style-type: none;
    padding-left: 0px;
}

.input-list>li {
    margin-top: 15px;
    margin-bottom: 15px;
}

input[type="text"] {
display: block;
margin: 0;
width: 100%;
font-family: 'Lato', sans-serif;
font-size: 18px;
appearance: none;
box-shadow: none;
border-radius: 5px;
}

input[type="text"]:focus {
outline: none;
}

.style-1 input[type="text"] {
padding: 10px;
border: solid 4px #d8d8d8;
transition: border 0.5s;
}
.style-1 input[type="text"]:focus,
.style-1 input[type="text"].focus {
border: solid 4px #37C8D8;
}

.contact-button {
width: 100%;
}

.testimonial-text {
color: #fff;
}

.testimonial {
border-left: 2px solid white;
padding: 10px;
margin-top: 20px;
}

.testimonial-name {
text-align: right;
color: #fff;
margin-top: 15px;
}

</style>
